@media (max-width:780px) {
    .game_window {
        width: 90%;
        box-sizing: border-box;
    }

    .menu__title {
        font-size: 45px;
    }

    .section__title {
        font-size: 25px;
    }

    .bold {
        font-size: 20px;
    }
}