@import url('mobile.css');
@import url('desktop.css');

@import url('reset.css');
@import url('button.css');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --text-color: #0d0c08;
    --bg-color: #e5a500;
    --primary: rgb(40, 40, 40);
    --accent: #35550e;
    --font: 'Rubik';
}

/* GENERAL LAYOUT */
html,body {
    width: 100%;
    height: 100%;
}

body {
    color: var(--primary);
    font-family: var(--font);
    background-image: url("https://images.unsplash.com/photo-1620969427101-7a2bb6d83273?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
    background-size: cover;    
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 51, 5, 0.504);
}

.game_window {
    background-color: var(--bg-color);
    border-radius: 18px;
    padding: 0 40px;
    border-bottom: 6px solid var(--primary);
    box-sizing: border-box;
    transition: 300ms ease;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: relative;
    top: 0;
    user-select: none;
}

.game_window>div {
    position: relative;
    top: -45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -25px;
}

.section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* CLASSES UTILITAIRES */
.hidden {
    display: none;
}

.masked {
    visibility: none;
}

.shrunk {
    transform: scale(0);
    top: -150px;
}

.callout {
    color: var(--accent);
}

/* HEADER  */
.header>img {
    height: 100px;
    border-radius: 50%;
    margin: 0;
    filter: hue-rotate(220deg);
    align-self: center;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* MENU */

.menu>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.menu__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.multiple-choice-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
}

.titre-jeu {
    position: relative;
    padding: 4px;
}

.chevron {
    color: var(--accent);
    cursor: pointer;
}

.menu__links img {
    height: 40px;
    color: var(--accent);
}

.menu__links ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: var(--text-color);
    text-decoration: none;
}

/* OPTIONS */
.options>div>ul>li>div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.options ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* .timertestContainer {
    font-size: 35px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */
/* 
.started {
    z-index: 0;
    position: relative;
}
.started::after {
    content: " ";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 10px;
    height: 50px;
    background-color: #35550e;
    filter: blur(7px);
    transform-origin: bottom center;
    animation-name: rotate;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* CHALUMOT */
.chalumot__window {
    min-width: 300px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.637);
    overflow: hidden;
    border: 2px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
}

.chalumot__container {
    font-size: 30px;
}

.chalumot__stats {
    height: 150px;
    border: 2px solid var(--text-color);
}